*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  a {
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}

main {
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

article {
  padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2em;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    margin-top: 0.5em;
    top: 100%;
    width: 5em;
    max-width: 100%;
    height: 0.15em;
    background-color: rgb(29, 195, 179);
    left: 0;
  }
}

a {
  color: rgb(24, 131, 120);
}

pre {
  overflow-x: auto;
  background-color: #eee;
  padding: 1em 2em;
  border-radius: 0.5em;
}

p > code {
  display: inline-block;
  background-color: #eee;
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
}

time {
  font-weight: bold;
}

footer {
  text-align: center;
}

.homepage__title {
  font-size: 4rem;
  line-height: 1;
}

.homepage__article-title {
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

.lead {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 6rem;
  margin-top: -1.5rem;
  color: rgb(44, 56, 58);
  font-style: italic;
  max-width: 450px;
  line-height: 1.4;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-title-link {
  color: inherit;
  text-decoration: none;
}
